
@{
    ViewBag.Title = "ConnectToGoogleAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Authenticaion</h2>

<div>

    @Html.ActionLink("Connect Google Account", "IndexAsync", new { @class = "btn btn-primary btn-default" })

</div>


